<script setup lang="ts">
import BmiView from "./views/BmiView.vue";
</script>

<template>
  <BmiView />
</template>

<style scoped>
@font-face {
  font-family: "Petchlamoon";
  src: url(./fonts/Petchlamoon-Regular.ttf);
}
</style>
